{% extends 'layout.html' %} {% block head %}
    <title>Home</title>
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dashboard/custom.css') }}"
    />

{% endblock %} {% block body %}

    <div class="content-home">
        <div class="row">
            <div class="card d-flex flex-row justify-content-center">
                <div class="box">
                    <div class="header"><span>Total Device</span></div>
                    <div class="body">
                        <div class="icon"><i class="bx bxs-cog"></i></div>
                        <div class="number">10</div>
                    </div>
                </div>
                <div class="box">
                    <div class="header"><span>Device ON</span></div>
                    <div class="body">
                        <div class="icon"><i class="bx bxs-cog"></i></div>
                        <div class="number">10</div>
                    </div>
                </div>
                <div class="box">
                    <div class="header"><span>Device OFF</span></div>
                    <div class="body">
                        <div class="icon"><i class="bx bxs-cog"></i></div>
                        <div class="number">10</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="card">
                <div class="table-box">
                    <table class="table table-hover table-sm table-bordered ">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 120px">Name ESP</th>
                            <th class="text-center">Name Product</th>
                            <th class="text-center" style="width: 100px">Status</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr>
                            <td class="text-center">Node 1</td>
                            <td>mama</td>
                            <td class="text-center">ON</td>
                        </tr>
                        <tr>
                            <td class="text-center">Node 2</td>
                            <td>mama</td>
                            <td class="text-center">ON</td>
                        </tr>
                        <tr>
                            <td class="text-center">Node 3</td>
                            <td>mama</td>
                            <td class="text-center">ON</td>
                        </tr>
                        <tr>
                            <td class="text-center">Node 4</td>
                            <td>mama</td>
                            <td class="text-center">ON</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %} {% block script %}{% endblock %}
