{% extends "layout.html" %}


{% block content %}
    <p class="h1">Device</p>
    <hr>
    <div class="row mt-2 mb-10">
        <div class="cell-xl-3 mt-4 ml-4">
            <div class="icon-box border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper">cpu traffic</div>
                    <div class="text-upper text-bold text-lead">90%</div>
                </div>
            </div>
        </div>
        <div class="cell-xl-3 mt-4 ml-4">
            <div class="icon-box border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper">cpu traffic</div>
                    <div class="text-upper text-bold text-lead">90%</div>
                </div>
            </div>
        </div>
        <div class="cell-xl-3 mt-4 ml-4">
            <div class="icon-box border bd-default">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper">cpu traffic</div>
                    <div class="text-upper text-bold text-lead">90%</div>
                </div>
            </div>
        </div>

    </div>

    <hr>
    <p class="h1">Product status</p>
    <hr>
    <div class="grid cell-md-two-third">
        <table class="table compact row-hover"
            data-role ="table"
            data-show-search="false">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Bill</td>
                <td>Gates</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Steve</td>
                <td>Jobs</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>Page</td>
            </tr>
            </tbody>
        </table>
    </div>





{% endblock %}