<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
  </head>
  <body>
    
    <div class="card">
      <div class="imgIcon">
        <img src="static/img/icon.png" alt="icon" />
      </div>
      <div class="content">
        <div class="title">
          <h1>Website Control </h1>
          <h1>Price Tags</h1>
          <hr>
        </div>
        <div class="description">
          <p>
            เว็บไซต์นี้เป็นเว็บไซต์ที่ใช้ในการควบคุมหรือเปลี่ยนแปลงราคาของสินค้าใน ป้ายแสดงราคาสินค้า
          </p>
        </div>
        <div class="actionButton">
            <button class="button primary  rounded" ><a href="{{ url_for('login') }}">เข้าสู่เว็บไซต์</a></button>
      </div>
    </div>
    </div>
    <!-- Metro UI
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script> -->
  </body>
</html>
